#homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@keyframes movement {
    from {transform: translateX(-30vw);}
    to {transform: translateX(0);}
  }

@keyframes movement-opposite {
from {transform: translateX(30vw);}
to {transform: translateX(0);}
}

#main {
    display: flex;
    flex-direction: column;
}

#leftmenu, #rightmenu {
    background-color: rgb(104, 11, 167);
    width: 10%;
    height: 60vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    border-radius: 20px;
    padding: 40px;
    animation-name: movement;
    animation-duration: 0.3s;
}

#rightmenu {
    animation-name: movement-opposite;
}